<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="customerAccount">
  <ion-list>
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" required [(ngModel)] ="customerAccount.name"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required [(ngModel)] ="customerAccount.surname"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required [(ngModel)] ="customerAccount.email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" required [(ngModel)] ="customerAccount.username"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required [(ngModel)] ="customerAccount.password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="cantSubmit()" (click)="submit()" type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>