<app-menu   [title]="'Storage'"
            [store]=false
            [product]="isSeller()"
            [account]=true
            [addProd]=false
            [id]="getId()"></app-menu>
<ion-content>
    <div id='game'></div>
    <div id='chart-div'>
      <ion-grid id='chart' inset='true'>
        <ion-list-header id='chart-header'>
          <ion-icon name="cart" ></ion-icon>
          <ion-item>
            <p>Total: {{getTotalCartPrice()}}€</p>
          </ion-item>
        </ion-list-header>
        <ion-row>
          <ion-col sizeLg="3" sizeMd="4" sizeSm="6" size="12" *ngFor="let item of cart; let i = index">
            <!-- I really don't know why the hover effect doesn't work withouth setting the item as a button -->
            <ion-item button="true">
              <ul>
                <li>
                  <span title="Name">
                    <p>{{item.name}}</p>
                  </span>
                </li>
                <li>
                  <span title="Description">
                    <p>{{item.description}}</p>
                  </span>
                </li>
                <li>
                  <span title="Price">
                    <p>{{item.getPrice()}}€</p>
                  </span>
                </li>
                <li>
                  <span title="Quantity">
                    <p>In the chart: {{item.getQuantity()}}</p>
                  </span>
                </li>
                <li>
                  <ion-button (click)="removeOne($event)">-</ion-button>
                  <ion-button (click)="addOne($event)">+</ion-button>
                  <ion-button (click)="removeAll($event)">Remove all</ion-button>
                </li>
              </ul>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <script>
      angular.module('myApp', [])
      .controller('chartController', ['$scope', function($scope)  {
        $scope.removeOne = ($event) => {
          // TODO: Remove a single item from the total
          const item = $event.target;
          console.log(item);
          window.alert(typeof(item));
        };
        $scope.addOne = ($event) => {
          // TODO: Add a single item from the total
        };
        $scope.removeAll = ($event) => {
          // TODO: Remove all item of this type from the chart
        };
      }]);
    </script>
    <div id="tutorial-modal">
      <div id="tutorial-modal-background">
        <div id="tutorial-modal-content">
          <div id="tutorial-modal-header">
            <span id="tutorial-modal-close">&times;</span>
            <h2>Tutorial</h2>
          </div>
          <div id="tutorial-modal-body">
            <h3>Movement</h3>
            <p>You can move your virutal lter-ego by using the arrow keys: &#x2190; &#x2191; &#x2192; &#x2193;</p>
            <h3>Shops</h3>
            <p>You can walk through this market and find the items sold by the sellers. You can understand what each vendor sells by looking at their stand.</p>
            <h3>Interact</h3>
            <p>You can interact with people and things, just by getting close. In menus you can youse your mouse.</p>
          </div>
          <div id="tutorial-modal-footer">
            <p>Have a nice shopping!</p>
          </div>
        </div>
      </div>
    </div>
</ion-content>
