<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Purchases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="purchases && purchases.length>0" >
  <ion-col size="auto" *ngFor="let purchase of purchases">
    <ion-item>

      
    </ion-item>
  </ion-col>
</ion-content>
<ion-content *ngIf="!purchases || (purchases && purchases.length===0)">
  There are no purchases.
</ion-content>
