<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Purchases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="orders && orders.length>0" >
  <ion-col size="auto" *ngFor="let order of orders">
    <ion-item>

      <!-- ORDER INFO -->
      <ion-label>
        <h2><b>Order N.{{order.orderId}}</b></h2>
        <h3>In Date: {{order.date}}</h3>
        <h5>Payment method: {{order.paymentMethod}}</h5>
        <h5>Shipping address: {{order.shippingAddress}}</h5>
        <h3><b>Total Amount: {{order.totalAmount}}€</b></h3>
      </ion-label>

      <!-- PRODUCTS INFO -->
      <ion-label><h2><b>Products List</b></h2>
 
      <ion-col size="auto" *ngFor="let soldProduct of order.soldProducts">
        <ion-item>

          <ion-avatar slot="start" *ngIf="soldProduct.photo !== null">
            <img src= "{{soldProduct.photo}}" />
          </ion-avatar>

          <ion-label>
            <h2><b>{{soldProduct.productName}}</b></h2>
            <h6>Price: {{soldProduct.productPrice}}€</h6>
            <h6>Quantity: {{soldProduct.productQuantity}}</h6>
            <h6>Seller: {{soldProduct.sellerUsername}}</h6>
            <p>{{soldProduct.productDescription}}</p> 
          </ion-label>

        </ion-item>
      </ion-col>
      
      </ion-label>

    </ion-item>
  </ion-col>
</ion-content>
<ion-content *ngIf="!orders || (orders && orders.length===0)">
  There are no purchases.
</ion-content>
