<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" required minlength="6" maxlength = "25" [(ngModel)] ="username"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" clearOnEdit="false" minlength="6" required [(ngModel)] ="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [disabled]="cantSubmit()" (click)="submit()" type="submit" color="danger" expand="block">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>