<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button routerLink="/all-product"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Upload product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="uploadProductFrom" enctype="multipart/form-data">
    <div class="image-container">
      <div class="avatar-upload">
        <div class="avatar-edit">
          <input (change)="loadImageFromDevice($event)" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
          <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
          <img src="{{ defaultImage }}" id="imagePreview" alt="product-image"/>
        </div>
      </div>
    </div>

    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input type="text" required formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Product Price</ion-label>
      <ion-input type="number"min="0" required formControlName="price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Product Quantity</ion-label>
      <ion-input type="number" min="0" required formControlName="availableQuantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Product Description</ion-label>
      <ion-textarea type="text" required formControlName="description" multiple></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Product Type</ion-label>
      <ion-select required  placeholder="Select One" formControlName="type">
        <ion-select-option value="VEGETABLE">Vegetable</ion-select-option>
        <ion-select-option value="MEAT">Meat</ion-select-option>
        <ion-select-option value="FRUITS">Fruits</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button  [disabled]= "!uploadProductFrom.valid" (click)="uploadProduct()" color="primary">Upload</ion-button>

  </form>
</ion-content>
