<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/checkmark-filled.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" username={getUsername()} >
  <div class="ion-padding">
  </div>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/user_profile.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">username</h3>
    </div>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
</ion-content>