
<app-menu   [title]="'Profile'"
[store]="!isSeller()"
[product]="isSeller()"
[account]=false
[addProd]=false
[id]="getId()"></app-menu>


<ion-content fullscreen="true" slot="fixed" *ngIf="account" >
  <div class="ion-padding">
  </div>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/user_profile.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <ion-label class="playername"  >{{account.username}}</ion-label>
    </div>
    <ion-item>
      <ion-label position="floating"  >Name</ion-label>
      <ion-input [(ngModel)] = "account.name"  disabled = "{{!mod}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"  >Surname</ion-label>
      <ion-input [(ngModel)] = "account.surname" disabled = "{{!mod}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"  >Email</ion-label>
      <ion-input [(ngModel)] = "account.email" disabled = "{{!mod}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"  >Address</ion-label>
      <ion-textarea [(ngModel)] = "account.address" (click)="changeAddress(account.id)" disabled= "{{!mod}}"></ion-textarea>
    </ion-item>

    <ion-button *ngIf="!mod" (click)="modifyAccount()">
      modify account
    </ion-button>
    <ion-button *ngIf="mod" (click)="submitAccount()">
      submit
    </ion-button>
    <ion-button *ngIf="!mod">
      purhcases
    </ion-button>
    <ion-button *ngIf="!mod" (click)="deleteAccount(account.id)" color="danger">Delete Account</ion-button>



  </div>
</ion-content>
