<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
    <ion-button *ngIf="canBack()==true" (click)="back()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
      <ion-buttons slot="end">

        <ion-button *ngIf="store" (click)="storage()" title = "Storage">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="product" (click)="products()" title = "Products">
          <ion-icon name="storefront-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="account" (click)="profile()" title = "Profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="addProd" (click) = "addProduct()" title  = "Add product">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      <ion-button (click)="logout()"  title = "Log out">LogOut</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>