<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to Fresh Market 2.0!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>

        <ion-img src="assets/logo.png" style="width:30%; margin-left: auto; margin-right: auto;"></ion-img>

        <ion-button (click)="registration()" expand="block" color="primary" shape="round" style="width:30%; margin-left: auto; margin-right: auto;">Register</ion-button>

        <span class="divider line one-line" style="width:30%; margin-left: auto; margin-right: auto;">or</span>

        <span class="already">Already a user?</span>

        <ion-button (click)="login()" expand="block" color="danger" shape="round" style="width:30%; margin-left: auto; margin-right: auto;">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>